@charset "UTF-8";
/* ---------------------------------------------------- COMUNES A TODOS --------------------------------------------- */
/* Borra margen y padding de todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define variables font-family */
/* Define variables colores */
ul,
ol {
  list-style-type: none;
  padding: 0em;
  padding-right: 1em;
  margin: 0;
}

/* Quita subrayados a los links y le asigna color */
a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
  transition-property: background-color color border-radius padding;
  transition-duration: 600ms;
}
a:hover {
  padding: 0.2em;
  background-color: rgb(130, 255, 47);
  opacity: 0.4;
  border-radius: 3px;
  color: black;
}

p {
  margin-bottom: 0;
}

.activo {
  padding: 0.1em;
  font-weight: 400;
  color: greenyellow;
}

/* Mixin */
/* ---------------------------------------------------------- HEADER ------------------------------------------------- */
/* Define el color de fuente y color de fondo del Header*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  color: white;
  background-color: rgb(31, 29, 29);
  width: 98vw;
  height: 9rem;
  margin-left: 0.1em;
  border-bottom: 5px solid greenyellow;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.header .navbar {
  position: static;
  padding-right: 1em;
}
.header .navbar .offcanvas {
  max-height: 20em;
  margin: 7.6em auto;
}
.header .navbar .offcanvas .offcanvas-header {
  background-color: rgb(31, 29, 29);
}
.header .navbar .offcanvas .offcanvas-body {
  background-color: rgb(31, 29, 29);
}
.header .navbar .offcanvas .nav-link:hover {
  background-color: rgb(130, 255, 47);
  color: black;
}
.header__img {
  /* Tamaño Logo */
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}
.header__img img {
  max-width: 240px;
  max-height: 200px;
  border-radius: 10px;
}

@media (min-width: 650px) and (max-width: 1199px) {
  /* Aplica media querys para formato Tablet del HEADER desde 650px a 1199px */
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* Ubica logo a la izquierda */
    /* Barra de Navegación Horizontal */
  }
  .header__img {
    justify-content: flex-start;
    grid-row: span 2;
    padding: 1em 0;
  }
  .header__img img {
    max-width: 240px;
    max-height: 180px;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .header__nav .header-nav__list {
    display: flex;
    gap: 10px;
  }
  .header .navbar {
    display: none;
  }
}
/* Aplica media querys para formato Desktop del HEADER desde 1200px en adelante */
@media (min-width: 1200px) {
  /* Header con FlexBox */
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* Tamaño Logo */
    /* Barra de Navegación Horizontal */
  }
  .header__img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header__img img {
    max-width: 240px;
    max-height: 180px;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .header__nav .header-nav__list {
    display: flex;
    padding-right: 1em;
    font-size: 1.2rem;
    gap: 25px;
  }
  .header .navbar {
    display: none;
  }
}
/* ---------------------------------------------------------- FOOTER ------------------------------------------------- */
/* Define el color del título del footer */
.footer {
  width: 98vw;
  margin-left: 0.1em;
  color: white;
  background-color: rgb(31, 29, 29);
  border-top: 5px solid greenyellow;
}
.footer__titulo {
  display: flex;
  padding: 0.5em 0 0 0.5em;
  align-items: center;
  text-align: center;
}
.footer__titulo-icon {
  background-color: rgb(31, 29, 29);
  min-width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.footer__titulo-icon i {
  font-size: 3em;
}
.footer__titulo-texto {
  font-size: 1.2rem;
  color: greenyellow;
  padding: 0.5em;
}
.footer__contacto-texto {
  padding: 0 0 0.5em 3em;
  font-size: 1rem;
}
.footer__contacto-lista {
  display: flex;
  flex-direction: column;
  padding-left: 3em;
  gap: 0.3em;
}
.footer__nav {
  padding: 0 0.5em 0 0;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.footer__nav .footer-nav__list {
  padding: 1em 1em 0 0;
  font-size: 0.8rem;
  gap: 15px;
}
.footer__nav .footer-nav__list a {
  font-size: 1rem;
}
.footer__nav .footer-nav__list .activo a {
  color: greenyellow;
}
.footer__derechos {
  padding: 0.5em 0 1em 4em;
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}

/* Aplica media querys para formato Tablet del FOOTER desde los 650px a 1199px */
@media (min-width: 650px) and (max-width: 1199px) {
  /* Define sección Footer */
  .footer__contacto-lista {
    display: flex;
    flex-direction: row;
  }
  .footer__nav {
    padding: 0 0.5em 0 0;
  }
  .footer__nav .footer-nav__list {
    display: flex;
    justify-content: flex-end;
  }
}
/* Aplica media querys para formato Tablet del FOOTER desde los 1200px */
@media (min-width: 1200px) {
  /* Define sección Footer */
  .footer__contacto-lista {
    display: flex;
    flex-direction: row;
  }
  .footer__nav {
    padding: 0 0.5em 0 0;
  }
  .footer__nav .footer-nav__list {
    display: flex;
    justify-content: flex-end;
  }
}
/* ---------------------------------------------------------- INDEX ------------------------------------------------- */
.index-main__seccioncarousel {
  /* Sección carousel */
  width: 98vw;
  margin: 1vw 0vw;
  background-color: white;
  font-size: 1.5rem;
  color: gray;
}
.index-main__seccioncarousel-imagen {
  opacity: 1;
}
.index-main__seccioncarousel .carousel-item {
  height: 500px;
}
.index-main__seccioncarousel .carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index-main__seccioncarousel .carousel-item .container .carousel-caption {
  top: 2px;
}
.index-main__seccioncarousel .carousel-item .container .carousel-caption h2 {
  color: rgb(158, 52, 13);
  font-size: 1.9rem;
  font-weight: bold;
}
.index-main__seccioncarousel .carousel-item .container .carousel-caption p {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}
.index-main__seccioncarousel .carousel-control-prev-icon {
  background-color: rgb(158, 52, 13);
}
.index-main__seccioncarousel .carousel-control-prev-icon:hover {
  background-color: black;
}
.index-main__seccioncarousel .carousel-control-next-icon {
  background-color: rgb(158, 52, 13);
}
.index-main__seccioncarousel .carousel-control-next-icon:hover {
  background-color: black;
}
.index-main__seccioncarousel .carousel-indicators .active {
  background-color: rgb(158, 52, 13);
}
.index-main__nuestrahistoria {
  /* Sección Nuestra Historia */
  margin: 0em 2em;
  padding: 2em;
  max-width: 550;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: gray;
  text-align: center;
  line-height: 2em;
}
.index-main__nuestrahistoria-titulo {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  color: rgb(78, 75, 75);
  text-align: center;
  line-height: 2em;
}
.index-main__nuestroequipo {
  background-image: radial-gradient(rgba(162, 213, 162, 0.603), white);
}
.index-main__nuestroequipo h2 {
  /* Sección Nuestro Equipo */
  color: rgb(78, 75, 75);
  font-size: 2.5rem;
  font-family: "Georgia", "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 1em;
}
.index-main__grupo h3 {
  margin-top: 0.5em;
  font-size: 1.5rem;
  font-weight: bold;
}
.index-main__grupo h4 {
  font-size: 1rem;
  color: rgb(128, 125, 125);
}
.index-main__grupo-fotos {
  color: rgb(78, 75, 75);
  font-size: 1.5rem;
  font-family: "Georgia", "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 1em;
}
.index-main__grupo-fotos img {
  max-height: 90px;
  max-width: 90px;
  border-radius: 50%;
}
.index-main__grupo2 h3 {
  margin-top: 0.5em;
  font-size: 1.5rem;
  font-weight: bold;
}
.index-main__grupo2 h4 {
  font-size: 1rem;
  color: rgb(128, 125, 125);
}
.index-main__grupo2-fotos {
  color: rgb(78, 75, 75);
  font-size: 1.5rem;
  font-family: "Georgia", "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 1em;
}
.index-main__grupo2 img {
  max-height: 90px;
  max-width: 90px;
  border-radius: 50%;
}

/* Aplica media querys para formato Tablet del INDEX desde 650px a 1199px */
@media (min-width: 650px) and (max-width: 1199px) {
  .index-main__seccioncarousel .carousel-item {
    height: 500px;
  }
  .index-main__seccioncarousel .carousel-item .container {
    width: 80%;
    padding-top: 11em;
  }
  .index-main__seccioncarousel-imagen {
    width: 990px;
    height: 500px;
  }
  .index-main__nuestrahistoria {
    max-width: 1100px;
    margin: 0em 1em;
    padding: 0 2em;
  }
  .index-main__nuestrahistoria-titulo {
    font-size: 2rem;
  }
  .index-main__grupo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .index-main__grupo2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
/* Aplica media querys para formato Desktop del INDEX desde 1200px en adelante */
@media (min-width: 1200px) {
  .index-main__seccioncarousel .carousel-item {
    height: 500px;
  }
  .index-main__seccioncarousel .carousel-item .container {
    width: 80%;
    padding-top: 11em;
  }
  .index-main__seccioncarousel-imagen {
    width: 1350px;
    height: 540px;
  }
  .index-main__nuestrahistoria {
    margin: 0em 4em;
  }
  .index-main__nuestrahistoria-titulo {
    font-size: 2.5rem;
  }
  .index-main__grupo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .index-main__grupo2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
/* ---------------------------------------------------------- PRODUCTOS ---------------------------------------------- */
.producto-main__descripcion {
  /* Primer parte - Sección descripción del producto */
  width: 100%;
  padding: 1em 2em;
  text-align: center;
  line-height: 2em;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  color: gray;
  background-image: radial-gradient(circle, rgba(255, 166, 0, 0.268), white);
}
.producto-main__descripcion-titulo {
  /* Titulo Descripción Producto */
  display: inline-block;
  padding: 0.2em 1em;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  color: white;
  background-color: rgba(255, 166, 0, 0.541);
  line-height: 1.8em;
  animation-name: titulo-producto;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  animation-timing-function: linear;
}
.producto-main__descripcion-pie {
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}
.producto-main__descripcion .card1 {
  width: 50px;
  height: 50px;
  background-color: blue;
}
.producto-main__caracteristicas {
  /* Segunda parte - Sección características del producto */
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.producto-main__caracteristicas-contenedor {
  width: 95%;
  padding: 1em 0em 2em 0em;
  margin: 0 0.8em 0.8em 0.8em;
  background-image: url("../img/fondoproducto.jpg");
  background-position: center;
  background-size: cover;
}
.producto-main__articulos-producto {
  /* Define formato artículos producto */
  width: 23em;
  height: 15em;
  padding: 1em;
  background-color: white;
  border: 0.1em solid black;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  text-align: justify;
  animation-name: articulos-producto;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-timing-function: linear;
}
.producto-main__articulos-img {
  flex-direction: row;
  align-items: flex-start;
  min-width: 6em;
}
.producto-main__articulos-texto {
  /* Define formato títulos producto */
}
.producto-main__articulos-texto h3 {
  padding: 0 0 0 0.5em;
  font-size: 1.7rem;
  font-weight: 900;
  text-align: center;
}
.producto-main__articulos-texto p {
  padding: 1em 0 0 0.5em;
  font-size: 1rem;
  font-weight: 200;
  text-align: left;
}
.producto-main__modulos {
  /* Tercer parte - Sección módulos del producto */
  width: 100%;
  padding: 1em 2em;
  text-align: center;
  line-height: 2em;
  background-color: white;
}
.producto-main__modulos-titulo {
  /* Titulo Módulos Producto */
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}
.producto-main__modulos-img {
  padding: 0.5em;
}
.producto-main__modulos .accordion-button {
  background-color: rgb(220, 174, 106);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.producto-main__modulos .collapsed {
  background-color: rgb(198, 186, 168);
}
.producto-main__modulos .accordion-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes titulo-producto {
  0% {
    transform: rotateY(0deg);
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.541) 5%, rgb(255, 179, 0) 95%);
    opacity: 1;
  }
  10% {
    transform: rotateY(36deg);
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.541) 15%, rgb(255, 179, 0) 85%);
    opacity: 0.9;
  }
  20% {
    transform: rotateY(72deg);
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.541) 25%, rgb(255, 179, 0) 75%);
    opacity: 0.8;
  }
  30% {
    transform: rotateY(108deg);
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.541) 35%, rgb(255, 179, 0) 65%);
    opacity: 0.7;
  }
  40% {
    transform: rotateY(144deg);
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.541) 45%, rgb(255, 179, 0) 55%);
    opacity: 0.6;
  }
  50% {
    transform: rotateY(180deg);
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.541) 55%, rgb(255, 179, 0) 45%);
    opacity: 0.5;
  }
  60% {
    transform: rotateY(216deg);
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.541) 65%, rgb(255, 179, 0) 35%);
    opacity: 0.6;
  }
  70% {
    transform: rotateY(252deg);
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.541) 75%, rgb(255, 179, 0) 25%);
    opacity: 0.7;
  }
  80% {
    transform: rotateY(288deg);
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.541) 85%, rgb(255, 179, 0) 15%);
    opacity: 0.8;
  }
  90% {
    transform: rotateY(324deg);
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.541) 95%, rgb(255, 179, 0) 5%);
    opacity: 0.9;
  }
  100% {
    transform: rotateY(360deg);
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.541) 0%, rgb(255, 179, 0) 100%);
    opacity: 1;
  }
}
@keyframes articulos-producto {
  0% {
    transform: rotateY(-5deg);
  }
  15% {
    transform: rotateY(-10deg);
  }
  30% {
    transform: rotateY(-5deg);
  }
  45% {
    transform: rotateY(0deg);
  }
  60% {
    transform: rotateY(5deg);
  }
  75% {
    transform: rotateY(10deg);
  }
  90% {
    transform: rotateY(5deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
/* Aplica media querys para formato Tablet PRODUCTOS desde 650px a 1199px */
@media (min-width: 650px) and (max-width: 1199px) {
  .producto-main__descripcion {
    max-width: 990px;
    margin: 0 0 1.5em 1em;
  }
  .producto-main__caracteristicas-contenedor {
    max-width: 990px;
    margin: 0 0 1.5em 1em;
  }
}
/* Aplica media querys para formato Tablet PRODUCTOS desde 1200px */
@media (min-width: 1200px) {
  .producto-main__descripcion {
    margin: 0 2em 1.5em 0;
  }
  .producto-main__caracteristicas-contenedor {
    margin: 0 1em 1.5em 2em;
  }
  .producto-main__modulos .accordion-body {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
  }
}
/* -------------------------------------------------------- SERVICIOS ------------------------------------------------ */
/* Define formato título principal servicios */
.servicios__seccion {
  padding: 0.5em;
}
.servicios__seccion-titulo {
  color: rgb(78, 75, 75);
  font-size: 2.5rem;
  font-family: "Georgia", "Times New Roman", Times, serif;
  text-align: center;
}
.servicios__seccion .servicios__contenedor {
  margin-top: 2em;
}
.servicios__seccion .servicios__contenedor .figure-img {
  width: 100%;
  border-radius: 10px;
}
.servicios__seccion .servicios__contenedor .servicios__titulo-secundario {
  padding: 1em 0 0 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(104, 101, 101);
}
.servicios__seccion .servicios__contenedor .servicios__articulo-texto {
  font-size: 1rem;
  color: rgb(110, 108, 108);
}
.servicios__seccion-it {
  background-image: linear-gradient(to top, rgba(149, 238, 142, 0.256), white);
}

/* Aplica media querys para formato Tablet de SERVICIOS desde 650px a 991px */
@media (min-width: 650px) and (max-width: 991px) {
  .servicios__contenedor {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    max-width: 991px;
  }
  .servicios__contenedor .servicios__seccion-it {
    grid: row 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    padding-left: 0.5em;
  }
}
/* Aplica media querys para formato Desktop de SERVICIOS desde 992px en adelante */
@media (min-width: 992px) {
  .servicios__contenedor {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    max-width: 1200px;
  }
  .servicios__contenedor .servicios__seccion-it {
    grid: row 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    padding-left: 0.5em;
  }
}
/* -------------------------------------------------------- NOVEDADES ----------------------------------------------- */
.novedades-main__art {
  margin: 0.5em 1.3em 0.5em 1.3em;
  padding: 2em 0.5em 0.5em 0.5em;
  text-align: center;
  line-height: 2em;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: gray;
}
.novedades-main__art-titulo {
  color: rgb(78, 75, 75);
  font-size: 2.5rem;
  font-family: "Georgia", "Times New Roman", Times, serif;
  text-align: center;
  padding-bottom: 1em;
}

/* Sección contenedor articulos */
.novedades-main__articulos {
  margin: 0 1.3em 2em 1.4em;
  padding: 1em 0.5em 1em 0.5em;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5em;
  color: gray;
  /* Define título artículos */
}
.novedades-main__articulos-titulo {
  margin: 0.5em 0.7em 0 0.8em;
  padding: 0.5em 0em;
  color: white;
  font-size: 1.5em;
  text-align: center;
  border: 4px solid rgb(238, 238, 238);
  border-radius: 5px;
}
.novedades-main__articulos-titulo--titulo1 {
  background-color: rgb(0, 207, 214);
}
.novedades-main__articulos-titulo--titulo2 {
  background-color: rgb(255, 130, 0);
}
.novedades-main__articulos-titulo--titulo3 {
  background-color: rgb(165, 223, 0);
}
.novedades-main__articulos-titulo--titulo4 {
  background-color: rgb(0, 207, 214);
}
.novedades-main__articulos-titulo--titulo5 {
  background-color: rgb(165, 223, 0);
}
.novedades-main__articulos-titulo--titulo6 {
  background-color: rgb(255, 130, 0);
}
.novedades-main__articulos-titulo--titulo7 {
  background-color: rgb(0, 207, 214);
}
.novedades-main__articulos-titulo--titulo8 {
  background-color: rgb(165, 223, 0);
}

/* Aplica media querys para formato Tablet de NOVEDADES desde 650px a 1199px */
@media (min-width: 650px) and (max-width: 1199px) {
  .novedades-main__art {
    padding: 0.5em 2.5em 1em 2.5em;
    text-align: center;
    line-height: 2em;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: gray;
  }
  .novedades-main__art-titulo {
    color: rgb(78, 75, 75);
    font-size: 2.5rem;
    font-family: "Georgia", "Times New Roman", Times, serif;
    text-align: center;
    padding-bottom: 1em;
  }
  /* Sección contenedor articulos */
  .novedades-main__articulos {
    margin: 0 2.6em 2em 2.6em;
    padding: 1em 0.5em 0 0.5em;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* Define título artículos */
  }
  .novedades-main__articulos-titulo {
    margin: 1em 1.4em 0 1.4em;
  }
}
/* Aplica media querys para formato Desktop de NOVEDADES desde 1200px en adelante */
@media (min-width: 1200px) {
  .novedades-main__art {
    padding: 0.5em 6em 1em 6em;
    text-align: center;
    line-height: 2em;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: gray;
  }
  .novedades-main__art-titulo {
    color: rgb(78, 75, 75);
    font-size: 2.5rem;
    font-family: "Georgia", "Times New Roman", Times, serif;
    text-align: center;
    padding-bottom: 1em;
  }
  /* Sección contenedor articulos */
  .novedades-main__articulos {
    margin: 0 6em 2em 6em;
    padding: 1em 0.5em 0 0.5em;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: justify;
    /* Define título artículos */
  }
  .novedades-main__articulos-titulo {
    margin: 1em 3.4em 0 3.4em;
  }
}
/* --------------------------------------------------------- CONTACTO ------------------------------------------------ */
.contacto__msj {
  width: 100%;
  padding: 1em;
  background-image: url("../img/fondocontacto.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  border-bottom: 4px solid greenyellow;
}
.contacto__msj-datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto__msj-datos i {
  color: greenyellow;
}
.contacto__msj-it {
  padding: 0.5em 0;
}
.contacto__msj-it input {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0 0.2em;
}
.contacto__msj-it select {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
}
.contacto__msj-it textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0 0.2em;
}
.contacto__msj-it label {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.contacto__msj-it:hover input {
  background-color: bisque;
}
.contacto__msj-it:hover select {
  background-color: bisque;
}
.contacto__msj-it:hover textarea {
  background-color: bisque;
}
.contacto__msj-it .input-style {
  border-radius: 5px;
  width: 350px;
  height: 35px;
}
.contacto__msj-it .textarea-style {
  border-radius: 5px;
  width: 350px;
}
.contacto__msj-button {
  display: flex;
  justify-content: center;
}
.contacto__msj .btnenviar {
  background-color: greenyellow;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  padding: 0.3em 1em;
  margin-right: 1em;
  border: 3px solid rgba(13, 13, 119, 0.596);
  border-radius: 12px;
  transition-property: background-color color borders;
  transition-duration: 600ms;
}
.contacto__msj .btnenviar:hover {
  cursor: pointer;
  background-color: rgba(172, 255, 47, 0.418);
  color: white;
  border: 3px solid greenyellow;
}
.contacto__msj .btnlimpiar {
  background-color: greenyellow;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  padding: 0.3em 1em;
  border: 3px solid rgba(13, 13, 119, 0.596);
  border-radius: 12px;
  transition-property: background-color color borders;
  transition-duration: 600ms;
}
.contacto__msj .btnlimpiar:hover {
  cursor: pointer;
  background-color: rgba(172, 255, 47, 0.418);
  color: white;
  border: 3px solid greenyellow;
}

.contacto__seccion2 {
  background-color: rgba(92, 121, 97, 0.623);
}
.contacto__seccion2 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 230, 222);
}
.contacto__seccion2 h2 {
  padding-top: 0.1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 2rem;
}
.contacto__seccion2-redessoc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6em;
  font-size: 1.3rem;
  font-weight: bold;
}
.contacto__seccion2-redessoc a {
  color: black;
}
.contacto__seccion2-redessocit {
  text-align: center;
}
.contacto__seccion2-redessocit2:hover {
  color: black;
}
.contacto__seccion2-domicilio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: black;
}
.contacto__seccion2-mapa {
  width: 300px;
  height: 250px;
  border: 2px solid black;
}
.contacto__seccion2-horario {
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
  text-align: center;
  background-color: rgba(172, 255, 47, 0.767);
}

/* Aplica media querys para formato Tablet de CONTACTO desde 650px a 1199px */
@media (min-width: 650px) and (max-width: 1199px) {
  .contacto__msj-it input {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }
  .contacto__msj-it select {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }
  .contacto__msj-it textarea {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }
  .contacto__msj-it .input-style {
    width: 450px;
    height: 40px;
  }
  .contacto__msj-it .textarea-style {
    width: 450px;
  }
  .contacto__msj .btnenviar {
    font-size: 0.9rem;
    padding: 0.5em 1.5em;
  }
  .contacto__msj .btnlimpiar {
    font-size: 0.9rem;
    padding: 0.5em 1.5em;
  }
  .contacto__seccion2-horario {
    font-size: 1rem;
  }
  .contacto__seccion2-mapa {
    width: 350px;
    height: 200px;
    border: 4px solid black;
  }
}
/* Aplica media querys para formato Tablet CONTACTO desde 1200px en adelante */
@media (min-width: 1200px) {
  .contacto__msj-it input {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
  }
  .contacto__msj-it select {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
  }
  .contacto__msj-it textarea {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
  }
  .contacto__msj-it .input-style {
    width: 650px;
    height: 40px;
  }
  .contacto__msj-it .textarea-style {
    width: 650px;
  }
  .contacto__msj .btnenviar {
    font-size: 1rem;
    padding: 0.7em 2em;
  }
  .contacto__msj .btnlimpiar {
    font-size: 1rem;
    padding: 0.7em 2em;
  }
  .container__2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contacto__seccion2-horario {
    font-size: 1.4rem;
  }
  .contacto__seccion2-mapa {
    width: 400px;
    height: 200px;
    border: 5px solid black;
  }
}

/*# sourceMappingURL=styles.css.map */
