/* --------------------------------------------------------- CONTACTO ------------------------------------------------ */
.contacto__msj {
    width: 100%;
    padding: 1em;
    background-image: url("../img/fondocontacto.jpg");
    background-position: center;
    background-size: cover;
    color:$fontcolor4;
    border-bottom: 4px solid $fontcolor3;

    &-datos {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;

        & i {
            color:$fontcolor3;
        }
    }

    &-it {
        padding: 0.5em 0;

        & input {
            font-family: $fontfam2;
            font-weight: 600;
            font-size: 0.8rem;
            padding: 0 0.2em;
        }

        & select {
            font-family: $fontfam2;
            font-weight: 600;
            font-size: 0.8rem;
        }

        & textarea {
            font-family: $fontfam2;
            font-weight: 600;
            font-size: 0.8rem;
            padding: 0 0.2em;
        }

        & label {
            font-family: $fontfam2;
            font-weight: 600;
        }

        &:hover input {
            background-color: $fontcolor6;
        }

        &:hover select {
            background-color: $fontcolor6;
        }

        &:hover textarea {
            background-color: $fontcolor6;
        }

        .input-style {
            border-radius: 5px;
            width: 350px;
            height: 35px;
        }

        .textarea-style {
            border-radius: 5px;
            width: 350px;
        }
    }

    &-button {
        display:flex;
        justify-content: center;
    }

    .btnenviar {
        background-color: $fontcolor3;
        color: $fontcolor5;
        font-family: $fontfam2;
        font-size: 0.7rem;
        padding: 0.3em 1em;
        margin-right: 1em;
        border: 3px solid $fontcolor11;
        border-radius:12px;
        transition-property: background-color color borders;
        transition-duration: 600ms;

        &:hover {
            cursor:pointer;
            background-color:$fontcolor12;
            color: $fontcolor4;
            border: 3px solid $fontcolor3;
        }
    }

    .btnlimpiar {
        background-color: $fontcolor3;
        color: black;
        font-family: $fontfam2;
        font-size: 0.7rem;
        padding: 0.3em 1em;
        border: 3px solid $fontcolor11;
        border-radius:12px;
        transition-property: background-color color borders;
        transition-duration: 600ms;

        &:hover {
            cursor:pointer;
            background-color: $fontcolor12;
            color: $fontcolor4;
            border: 3px solid $fontcolor3;
        }
    }
}

.contacto__seccion2 {
    background-color: $fontcolor13;

    .container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $fontcolor14;
    }

    & h2 {
        padding-top: 0.1em;
        font-family: $fontfam1;
        font-weight: 800;
        font-size: 2rem;
    }

    &-redessoc {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6em;
        font-size: 1.3rem;
        font-weight: bold;

        & a {
            color:$fontcolor5;
        }
    }

    &-redessocit {
        text-align: center;
    }

    &-redessocit2:hover {
        color: $fontcolor5;
    }

    &-domicilio {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        color: $fontcolor5;
    }

    &-mapa {
        width: 300px;
        height: 250px;
        border: 2px solid $fontcolor5;
    }

    &-horario {
        font-size: 0.8rem;
        font-weight: bold;
        color: $fontcolor5;
        text-align:center;
        background-color: $fontcolor15;
    }
}

/* Aplica media querys para formato Tablet de CONTACTO desde 650px a 1199px */
@media (min-width:650px) and (max-width:1199px) {
    .contacto__msj {
        &-it {
            & input {
                font-family: $fontfam2;
                font-weight: 600;
                font-size: 1rem;
            }

            & select {
                font-family: $fontfam2;
                font-weight: 600;
                font-size: 1rem;
            }

            & textarea {
                font-family: $fontfam2;
                font-weight: 600;
                font-size: 1rem;
            }

            .input-style {
                width: 450px;
                height: 40px;
            }

            .textarea-style {
                width: 450px;
            }
        }

        .btnenviar {
            font-size: 0.9rem;
            padding: 0.5em 1.5em;
        }

        .btnlimpiar {
            font-size: 0.9rem;
            padding: 0.5em 1.5em;
        }
    }

    .contacto__seccion2 {
        &-horario {
            font-size: 1rem;
        }

        &-mapa {
            width: 350px;
            height: 200px;
            border: 4px solid $fontcolor5;
        }
    }
}


/* Aplica media querys para formato Tablet CONTACTO desde 1200px en adelante */
@media (min-width:1200px) {
    .contacto__msj {
        &-it {
            & input {
                font-family: $fontfam2;
                font-weight: 600;
                font-size: 1.2rem;
            }

            & select {
                font-family: $fontfam2;
                font-weight: 600;
                font-size: 1.2rem;
            }

            & textarea {
                font-family: $fontfam2;
                font-weight: 600;
                font-size: 1.2rem;
            }

            .input-style {
                width: 650px;
                height: 40px;
            }

            .textarea-style {
                width: 650px;
            }
        }

        .btnenviar {
            font-size: 1rem;
            padding: 0.7em 2em;
        }

        .btnlimpiar {
            font-size: 1rem;
            padding: 0.7em 2em;
        }
    }

    .container__2 {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contacto__seccion2 {
        &-horario {
            font-size: 1.4rem;
        }

        &-mapa {
            width: 400px;
            height: 200px;
            border: 5px solid $fontcolor5;
        }
    }
}