/* -------------------------------------------------------- SERVICIOS ------------------------------------------------ */
/* Define formato título principal servicios */
.servicios__seccion {
    padding: 0.5em;

    &-titulo {
        color: map-get($titulo-seccion, color-texto);
        font-size: map-get($titulo-seccion,tamano-texto);
        font-family: map-get($titulo-seccion, familia-texto);
        text-align: map-get($titulo-seccion, centrar-texto);
        font-weight: map-get($titulo-seccion, grosor-texto);
        background-image:radial-gradient(circle,rgba(149, 238, 142, 0.256),$fontcolor4);
    }

    .servicios__contenedor {
        margin-top: 2em;

        .figure-img {
            width: 100%;
            border-radius: 10px;
        }

        .servicios__titulo-secundario {
            display:flex;
            padding: 1em 0 0 0;
            font-size: 1.5rem;
            font-weight: bold;
            color: $fontcolor20;
        }

        .new {
            display:flex;
        }

        .rotacion-img {
            margin-top: 1.5em;
            margin-left: 0.5em;
            height: 30px;
            animation: rotar 4s infinite linear;
        }

        .servicios__articulo-texto {
            font-size: 1rem;
            color: $fontcolor21;
        }
    }

    &-it {
        background-image: linear-gradient(to top,rgba(149, 238, 142, 0.256),white);
    }
}

/* Rotación del ícono New */
@keyframes rotar {
    0% {
        transform:rotatex(0deg);
    }

    100% {
        transform:rotatex(360deg);
    }
}

.servicios__modal {

    .modal-content {
        background-color: gray;
        margin-top:2em;
        margin-left:1.5em;
        width:25em;
    }

    .modal-title {
        @include formatofuente1($fontfam3,bold,2rem);
        color:$fontcolor3;
    }

    .modal-body-texto {
        @include formatofuente1($fontfam2,bold,1rem);
        text-align:justify;
    }

    .modal-body-img {
        text-align: center;
        margin: 0.5em 0;
    }

    .btn {
        @include formatofuente1($fontfam1,bold,1rem);
        color:$fontcolor5;
        background-color:$fontcolor3;
        border: 1px solid $fontcolor5;
    }
}

/* Aplica media querys para formato Tablet de SERVICIOS desde 650px a 991px */
@media (min-width:650px) and (max-width:991px) {

    .servicios__contenedor {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto;
        max-width: 991px;

        .servicios__seccion-it {
            grid: row 2/ 3;
            @include flex(column,space-evenly,left);
            padding-left: 0.5em;
        }
    }
}

/* Aplica media querys para formato Desktop de SERVICIOS desde 992px en adelante */
@media (min-width:992px) {

    .servicios__contenedor {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto;
        max-width: 1200px;

        .servicios__seccion-it {
            grid: row 2/ 3;
            @include flex(column,space-evenly,left);
            padding-left: 0.5em;
        }
    }

    .servicios__modal {

        .modal-content {
            margin-left:2.5em;
            width:30em;
        }
    
        .modal-body-img {
            text-align: center;
            margin: 2em 0;
        }
    }
}


